{% import_yaml "plenv/defaults.yaml" as defaults %}
{% import_yaml "plenv/osmap.yaml" as osmap %}

{% set plenv = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osmap,
        grain='os_family',
        merge=salt['pillar.get']('plenv', {}),
    ),
    base='plenv',
) %}
